* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
	background-color: #EDEDEF;

}



h2 {
	font-size: 24px;
	color: #020282;
	line-height: 29px;
}


.top-menu {

	background-color: #020282;
}

 .category-list {
 	background-color: #EDEDEF;
 	padding: 20px;
 	color: #B20B24;
}
 .category-list:hover {
 	
}

.flash {
	background-color: #E5E15A;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;

}



.latest-items {
	background-color: #EDEDEF;
}