{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
	<div class="divider">
    <div class="col-md-12"></div>
</div>
<div class='flash'>
{% with messages = get_flashed_messages() %}
      {% if messages %}

    <ul>
     {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
         {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</div>
<div class="container">
    <div class="row main-row">
        <div class="col-md-4 category-list col-md-border">
            <h2>Categories</h2>
            {% for category in categories %}
            <p><a class="category-link" href = "{{url_for('showItemList', category_id = category.id)}}">
            {{category.name}}</a></p>
            {% endfor %}
           </div>
        <div class="col-md-8 latest-items col-md-border">
            <h2>{{indcategory.name}} Items ({{items|count}})</h2>
            <i>created by {{creator.name}}
            {% for item in items %}
	<p><a class="category-link" href="{{url_for('showItem', category_id = indcategory.id, item_id = item.id)}}">
	
	{{item.name}}</a> </p>
	{% endfor %}
        </div>
    </div>

</div>
{% endblock %}